<h1><%=h @book.title %></h1>

<p>
  <b>TITLE:</b>
  <%=h @book.title %>
</p>

<p>
  <b>AUTHOR:</b>
  <%=h @book.try(:author).try(:name) %>
</p>

<p>
  <b>YEAR:</b>
  <%=h @book.year %>
</p>

<p>
  <b>EDITION:</b>
  <%=h @book.edition %>
</p>

<p>
  <b>PUBLISHER:</b>
  <%=h @book.publisher %>
</p>
