<div id="sidebar">
  <h2>Insert your books</h2>
  <p>
	  <a href="#new" class="button">Add book</a>
  </p>
  
  <h2>Search your books</h2>
  <p>
	  <a href="#search" class="button">Search Book</a>
  </p>
  
  
  <h2>My Shelves</h2>
  <p>
	  <a href="#create" class="button">Create Shelf</a>
  </p>
  <p id="list_of_shelves">
	  <% @shelves.each{|shelf| %>
	  	<%= link_to shelf.name, "#/shelves/#{shelf.id}" %>
	  <% } %>
  </p>
  
</div>

<ul id="books">
<% @books.each{|book|  %>
	<li class="book_list"><%= link_to image_tag(book.thumb_image_path, :border => 0, :book => book.to_json(:include => :author, :methods => [:thumb_image_path]) ,:title => book.title, :alt => book.title), book %></li>
<% } %>
</ul>

<div id="pagination"></div>

<script type="text/javascript" charset="utf-8" src="/djr"></script>
<%= javascript_include_tag "books/shelves" %>
<%= javascript_include_tag "books/books" %>
<%= javascript_include_tag "books/index" %>